<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferenceTransfer">
      <settingsTransfer
            class="org.eclipselabs.wsprefs.transferrer.PreferencesSettingsTransfer"
            id="org.eclipselabs.wsprefs.transferrer.transfer"
            name="%settings.transfer.name">
      </settingsTransfer>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipselabs.wsprefs.transferrer.PreferencesImportStartup">
      </startup>
   </extension>

</plugin>
